* {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

section {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.sidebar {
  width: 20%;
  padding: 10px;
  border-right: 2px solid #e1e1e1;
}

.search {
  padding: 10px;
  border-color: #e1e1e1;
  border-radius: 5px;
  border-width: 1px;
  font-size: 15px;
  width: 100%;
}

.contact-list {
  margin-left: 20px;
}

.contact {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
}

span {
  font-size: 20px;
  color: green;
}

.aiden {
  background-color: #e1e1e1;
  border-radius: 3px;
}

img {
  max-width: 40px;
  border-radius: 100%;
}

.status-online {
  color: #c3aca3;
  font-size: 12px;
}

.status-online::before {
  content: "• ";
  color: green;
}

.status-offline {
  color: #c3aca3;
  font-size: 12px;
}

.status-offline::before {
  content: "• ";
  color: red;
}

.chat {
  width: 80%;
}

.chat-header {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 20%;
  background-color: #f6f8f9;
  border-bottom: 2px solid #e1e1e1;
  border-top: 2px solid #e1e1e1;
}

.message-sent {
  justify-items: flex-end;
  background-color: #e4f2f7;
  margin-left: auto;
  padding: 7px;
  border-radius: 10px;
  margin-top: 15px;
  margin-right: 15px;
}

.message-received {
  background-color: #e1e1e1;
  margin-right: auto;
  padding: 7px;
  border-radius: 10px;
  margin-left: 15px;
}

.responsive-btn {
  display: none;
}

.timestamp {
  color: #c3aca3;
  font-size: 12px;
}

.header-right {
  padding: 15px;
}

.chat-actions {
  padding: 30px;
  display: flex;
  gap: 20px;
  padding-bottom: 5px;
  padding-top: 3px;
}

button {
  font-size: 15px;
  border: 1px solid white;
  color: white;
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
}

button:hover {
  background-color: #e1e1e1;
}

.chat-footer {
  display: flex;
  padding: 15px;
  gap: 10px;
}

.send-messages {
  margin-right: auto;
  padding: 15px;
  border-radius: 5px;
  border-color: #e1e1e1;
  border-width: 1px;
  color: #e1e1e1;
  text-align: start, center;
  padding-right: 83%;
}

.plane {
  font-size: 20px;
  border: 1px solid white;
  color: white;
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
}

@media (max-width:1115px) {
  .sidebar {
    width: 30%;
  }

  .send-messages {
    padding-right: 72%;
  }
}

@media (max-width:900px) {
  .send-messages {
    padding-right: 70%;
  }
}

@media (max-width:800px) {
  .sidebar {
    width: 30%;
  }

  .send-messages {
    padding-right: 60%;
  }
}

@media (max-width:768px) {
  .sidebar {
    display: none;
  }

  .send-messages {
    padding-right: 70%;
  }

  .chat {
    width: 100%;
  }

  .responsive-btn {
    display: block;
  }
}

@media (max-width:600px) {
  .send-messages {
    padding-right: 55%;
  }
}

@media (max-width:480px) {

  .titular-responsive {
    display: block;
  }

  .send-messages {
    padding-right: 55%;
  }
}